body{
    padding:0;
    box-sizing:border-box ;
    margin: 0;
    background: rgb(0,118,190);
    width: 100%;
    
 }
 .navbar{
     color: white;
     background: #0065c3;
     align-items: center;
     height: 80px;
     padding: 10px 0;
     display: flex;
     flex-direction: row;
     width: 100%;
     position: sticky;
     top: 0;
 }
 
 .nav-menu{
     width:100%;
 }
 ul{
     display: flex;
     flex-direction: row;
 }
 li{
     list-style: none;   
 }
  a{
     color: white;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.5rem;
     font-size: 14px;
     padding: 1rem;
     display: flex;
     flex-direction: row;
     font-weight: bold;
     text-transform: uppercase;
     white-space: nowrap;
 }
 a:hover{
     opacity: 5;
      color: rgb(43, 43, 177);   
 }



 button{
      border-radius: 25px;
      border-color: white;
      border-width:0.3rem;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px 10px 10px 10px;
      font-size: medium;
      background: #0065c3;
      color: white;
      font-weight: bold;
      width: 15%;
  }

  .animated-button:hover{
      background: white;
      color:blue ;
      /* transform: rotate(60deg); */
      transform: matrix(1,0,0,1,0,0 -32.016);
 
  }
  .logo-large{
      padding: 1rem;
      padding-left: 2rem;
  }
  .logo-large img{
      width: 60px;
      height: 60px;
      transition: transform 0.3s linear;
  }
  .logo-large img:hover{
      transform: rotate(180deg);
  }
  .logo img{
      width: 40%;
  }
  .logo{
      font-size: 30px;
      color: white;
  }
  
  .two-cans img{
      width: 100%;
      height: 10%;
  }
  
  .one-can img{
      margin-left: 100px;
  }
  .one-can{
      background: black;
      color: white;
      
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
       display: flex;
       flex-direction: row;
       padding: 100px;
  }
  .one-can-text{
      width: 50%;
      font-size: 45px;
  }
  .one-can-image{
      width: 50%;
  }
  .three-cans{
     display: flex;
     flex-direction: row;
     padding: 200px;
    
  }
  .three-cans-text{
      width: 50%;
  }
  .three-cans h1{
      color: white;
      font-size: 60px;
      font-family: Cervo Neue Black,
       Helvetica Neue, Helvetica, Arial, 
       sans-serif;
       line-height: 60px;
       letter-spacing: normal;
  }
  .three-cans ul{
      padding: 0;
      display: flex;
      width: 30%;
      list-style: none;
      border: 2px solid white;
      padding: 5px 13px;
      border-radius: 20px;
      justify-content: center;
      overflow: hidden;
}


 .three-cans ul li{
     font-size: 18px;
     color: white;
     transition: .1s linear;

 }
 .three-cans ul:hover{

    background-color: white;
 }
 .three-cans ul:hover li{
     color: blue;
    animation: swipe .3s;
}
@keyframes swipe{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .1;
    transform: translatey(-20px);
    }
    51%{opacity: 0;
         transform: translatey(20px);
    }
    100%{
        opacity: 1;
         transform: translatey(0px);

    }

}
  .three-cans ul li:nth-child(1){

    animation-delay: 0s;
  }
  .three-cans ul li:nth-child(2){

    animation-delay: 20ms;

  }
  .three-cans ul li:nth-child(3){
    animation-delay: 40ms;

  }
  .three-cans ul li:nth-child(4){
    animation-delay: 60ms;

    margin-right: 7px;
  }
  .three-cans ul li:nth-child(5){
    animation-delay: 80ms;

  }
  .three-cans ul li:nth-child(6){
    animation-delay: 100ms;

  }
  .three-cans ul li:nth-child(7){
    animation-delay: 120ms;

  }
  .three-cans ul li:nth-child(8){
    animation-delay: 140ms;

  }
  .three-cans ul li:nth-child(9){
    animation-delay: 160ms;

  }
  .three-cans ul li:nth-child(10){
    animation-delay: 180ms;

  }
  .three-cans ul li:nth-child(11){

    animation-delay: 200ms;
  }
  .three-cans ul li:nth-child(12){
    animation-delay: 220ms;

  }
  .three-cans p{
     color: white;
     font-size: 15px;
     font-family: Sofia Pro Re, Helvetica Neue,
      Helvetica, Arial, sans-serif;
  }
  .three-cans img{
      width: 700px;
      height: 400px;
  }
  .three-cans-image{
    /* margin-left: 50px; */
    width: 50%;
  }
  .social{
      background: whitesmoke;
      color: #0065c3;
      padding: 50px 50px 50px 50px;
      /* width: 100%; */
     
  }
  .social-text{
      text-align: center;
      font-size: large;
    
  }
  .social-image{
      display: flex;
      flex-direction: row;
  }

  .social-image img{
      width: 300px;
  }
   .twitter{
    transition: transform 0.3s linear ease;   
  }
  .twitter:hover{
    transform: 
  }

 /* .facebook{
      width: 20%;
  }

  .instagram{
      width: 20%;
  }

  .youtube{
      width: 20%;
  } */


  .footer{
     /* margin-bottom: 50; */
     padding: 1rem 5rem;
  }
  .footer-cols{
      color: white;
      font-weight: bold;
      margin-top: -150px;
 
  }
  footer .footer-cols {
      display: grid;
     grid-template-columns: repeat(3,0.2fr);
     line-height: 2rem;
      margin-left: 200px; 
  }

  /* .footer .footer-cols a{
      width: 30px;
  } */
 footer .logo-large img{
     width: 100px;
     height: 100px;
    margin-top: 50px;
 }
 /* .foot-social{
     display: inline;
 } */
  footer button{
      margin-left: 1100px;
      width: 250px;
      margin-top: 10px;
  }
 